header {
  height: 400px;
  width: 100%;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  background-color: #c7774c;
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  margin-top:120px;
  
}