nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding-left:1.5em;
  padding-right:1.5em;

}
.title{
  font-family:'Bungee', sans-serif
}


.navtext{
  display:flex;
  justify-content:right;
  margin-top:15px;
  
 
}

.fa-solid{
  font-size:20px;
  margin-right:70px;
  color:red;
  display:flex;
  justify-content: right;
  
  margin-top:-28px;
  

}

